<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edbrix.contentbrix">

    <permission
        android:name="android.permission.CONFIGURE_WIFI_DISPLAY"
        android:protectionLevel="normal" />
    <permission
        android:name="android.permission.CONTROL_WIFI_DISPLAY"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="io.agora.advancedvideo.externvideosource"/>

    <!--<uses-feature android:name="android.hardware.camera" />-->

    <uses-permission android:name="android.permission.CAMERA" /> <!-- <uses-feature android:name="android.hardware.camera" android:required="false" /> -->
    <!-- <uses-feature android:name="android.hardware.camera.autoFocus" android:required="false" /> -->
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".ContentBrixApp"
        android:allowBackup="true"
        android:icon="@drawable/app_logo_round_new72"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_logo_round_new72"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartBroadcastActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".BroadcastListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateBrodcastActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContentBrixRegistrationActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RecordWhiteBoardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".RecordPDFOnBoardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".VideoPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EdbrixLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecordPreviewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edbrix.contentbrix.MainActivity" />
        </activity>
        <activity
            android:name=".VizippDrawLogin"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrgnizationListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartRecordActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".VizippDrawRegistration"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VizippDrawForgotPassword"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VizippDrawChangePassword"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PDFListActivity"
            android:label="@string/select_pdf_file"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PaymentActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UpdateCardDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".walkthrough.WalkThroughActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".TermsConditionPolicyViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateEdbrixCourseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseListEvalActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseListKnowledgeBrixActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyExportedFilesActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecordAdvWhiteBoardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".SlidePDFReOrderActivity"
            android:screenOrientation="landscape" /> <!-- ************************************Other ************************************************************ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aa6c280ec9307f757b7c5b1df101f1fc3899dc97" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.edbrix.contentbrix.utils.CastOptionsProvider" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-hco3q31jyc02ftl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EvalCategoryListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemListCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RenameFileDailogActivity" />
        <activity android:name=".ExportFileRenameDialogActivity" />
    </application>

</manifest>